header {
    background-color: darkblue;
    color: yellow;
    padding: 25px;
    margin: 3px;
    text-align: left;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}
footer {
    background-color:gray;
    color: whitesmoke;
    padding: 2px;
    margin: 0px;
    font-style: italic;
}


main{
    display: flex;
}

.flex-item {
    flex:5;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(55, 15, 129);
    min-height: 410px;
}
.flex-item:nth-child(2) {
    flex:2;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(77, 11, 62);
    background-color:cornsilk;
}